*.bsf
*.cmp
*.csv
*.html
*.qgsimc
*.qgsynthc
*.sopcinfo
*.spd
*.xml
*_bb.v
*.rpt
*_inst.v
*_inst.vhd
aldec
cadence
modelsim_files.tcl
ncsim_files.tcl
riviera_files.tcl
xcelium_files.tcl
vcsmx_files.tcl
mentor
vcsmx
xcelium
